<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PasswordManager.WindowsApp.Properties.Settings.PasswordManagerConnectionString"
            connectionString="Data Source=74.140.136.128;Initial Catalog=PasswordManager;User ID=bruceba"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>